

<!-- =========================
     HEADER   
============================== -->
<header id="home">



<!-- COLOR OVER IMAGE -->
<div class="color-overlay">
	
	<div class="navigation-header">
		
		<!-- STICKY NAVIGATION -->
		<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
			<div class="container">
				<div class="navbar-header">
					
					<!-- LOGO ON STICKY NAV BAR -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="https://deblime.com"><img src="https://deblime.com/asesoria/images/logoazul.png" alt=""></a>
					
				</div>
				
				<!-- NAVIGATION LINKS -->
				<div class="navbar-collapse collapse" id="landx-navigation">
					<ul class="nav navbar-nav navbar-right main-navigation">
						<li><a href="#home">Inicio</a></li>
						<li><a href="#section1">Ventajas</a></li>
						<li><a href="#section3">Servicios</a></li>
					
						<li><a href="#section5">Video</a></li>
						<li><a href="#section6">Galería</a></li>
						<li><a href="#section7">Casos de Éxito</a></li>
					
					</ul>
				</div>
				
			</div>
			<!-- /END CONTAINER -->
			
		</div>
		
		<!-- /END STICKY NAVIGATION -->
		
		<!-- ONLY LOGO ON HEADER -->
		<div class="navbar non-sticky">
			
			<div class="container">
				
				<div class="navbar-header">
					<a href="https://deblime.com" ><img src="https://deblime.com/asesoria/images/logodeblime.png" alt=""></a>
				</div>
				
				<ul class="nav navbar-nav navbar-right social-navigation hidden-xs">
					<%if current_user %>
					<li style="margin-right: 10px;"><%= link_to('Cerrar Sesion', destroy_user_session_path, method: :delete) %></li>
					<%else%>
					<li style="margin-right: 10px;"><a href="/users/sign_in">Iniciar Sesion</a></li>
					<%end%>
					<li><a target="_blank" href="https://www.facebook.com/deblimeinc/"><i class="fab fa-facebook-square"></i></a></li>
					<li><a target="_blank" href="https://twitter.com/infodeblime"><i class="fab fa-twitter-square"></i></a></li>
					<li><a target="_blank" href="https://www.instagram.com/deblime/"><i class="fab fa-instagram"></i></a></li>
				</ul>
			</div>
			<!-- /END CONTAINER -->
			
		</div>
		<!-- /END ONLY LOGO ON HEADER -->
		
	</div>
	
	<!-- HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->
	<div class="container" style="margin-top: -50px;">
		
		<div class="row">
			
			<!-- LEFT - HEADING AND TEXTS -->
			<div class="col-md-7 col-sm-7 intro-section">
				
				<h1 class="intro text-left animate fadeInLeft one" style="font-size: 35px;">
				<%if current_user %><%=current_user.email%> obtén<%else%>Obtén<%end%> una asesoría gratuíta y dá el primer paso hacia el éxito</strong>
				</h1>
				
				<ul class="feature-list-1 animate fadeInUp one">
					
					<!-- FEATURE ROW -->
					<li>
					<div class="icon-container pull-left">
						<span class="icon_check"></span>
					</div>
					<p class="text-left">
						Uno de nuestros ejecutivos deblime te prestará ayuda orientada hacia tus necesidades. 
					</p>
					</li>
					
					<!-- FEATURE ROW -->
					<li>
					<div class="icon-container pull-left">
						<span class="icon_check"></span>
					</div>
					<p class="text-left">
						El servicio de asesoría deblime es 100% gratuita.
					</p>
					</li>
					
					<!-- FEATURE ROW -->
					<li>
					<div class="icon-container pull-left">
						<span class="icon_check"></span>
					</div>
					<p class="text-left">
						Luego de nuestra asesoría tendrás claras tus dudas y sabrás cómo satisfacer todas tus necesidades de una forma eficiente.
 

					</p>
					</li>

				
				</ul>
				
			</div>
			
			<!-- RIGHT - REGISTRATION FORM -->
			
			<div class="col-md-5 col-sm-5">
				
				<div class="vertical-registration-form animate fadeInRight one">
					<div class="colored-line">
					</div>
					<h3>Dejanos tus Datos</h3>
					<form class="registration-form" id="register" role="form">
						<!-- Nombre -->
						<input class="form-control input-box" id="name" type="text" name="name" placeholder="Nombre">
						<!-- Nombre -->
						<!-- Apellido -->
						<input class="form-control input-box" id="email" type="email" name="email" placeholder="Apellido">
						<!-- Apellido -->
						<!-- Email -->
						<input class="form-control input-box" id="email" type="email" name="email" placeholder="Email">
						<!-- Email -->
						<!-- Telefono -->
						<input class="form-control input-box" id="phone-number" type="text" name="phone-number" placeholder="Teléfono">
						<!-- Telefono -->

						<button class="btn standard-button" type="submit" id="submit" name="submit">Solicitar Asesoría</button>
					</form>
				</div>
			</div>
			<!-- /END - REGISTRATION FORM -->
		</div>
		
	</div>
	<!-- /END HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->
	
</div>

</header>


<!-- =========================
     SECTION 1   
============================== -->
<section class="section1" id="section1">

<div class="container">
	<div class="row">
		
		<div class="col-md-6">
			
			<!-- SCREENSHOT -->
			
			<div class="side-screenshot pull-left">
				<img src="https://deblime.com/asesoria/images/girl.png" alt="Feature" class="img-responsive" >
			</div>
		
			
		</div>
		
		<div class="col-md-6">
			
			<!-- DETAILS WITH LIST -->
			<div class="brief text-left">
				
				<!-- HEADING -->
				<h2>Aclara tus dudas con nuestra Asesoría Deblime 360
</h2>
				<div class="colored-line pull-left">
				</div>
				
				<!-- TEXT -->
				<p>
				
				</p>
				
				<!-- FEATURE LIST -->
				<ul class="feature-list-2">
					
					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<i class="fas fa-hands-helping"></i>

					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Asesoría Dedicada</h6>
						<p>Primero nuestro asesor deblime estudiará la filosofía de tu negocio.</p>
					</div>
					</li>
					
					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<i class="fas fa-hands-helping"></i>

					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Propuesta de servicios</h6>
						<p>Nuestro asesor luego de saber cuales son tus necesidades, te realizará una propuesta de valor para tu negocio.</p>
					</div>
					</li>

										<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<i class="fas fa-hands-helping"></i>

					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Plan de acción</h6>
						<p>Posteriormente pasaremos al plan de acción para demostrarte los mejores resultados.</p>
					</div>
					</li>
				</ul>
			</div>
		</div> <!-- /END DETAILS WITH LIST -->
		
	</div> <!-- END ROW -->
	
</div> <!-- END CONTAINER -->

</section>




<!-- =========================
     SECTION 3   
============================== -->
<section class="section3 bgcolor-2" id="section3">

<div class="container">
	
	<!-- SECTION HEADING -->
	
	<h2>Servicios Deblime</h2>
	
	<div class="colored-line">
	</div>
	

	
	<div class="features">
		
		<!-- FEATURES ROW 1 -->
		<div class="row">
			
			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fab fa-superpowers"></i>

					</div>
					<h4>Sistema Administrativo ERP</h4>
					<p>
						El planificador de recursos empresariales es uno de nuestras áreas de especialización. De esta manera integramos todos tus departamentos y procesos en tu organización. (Ventas, Compras, Contabilidad, Finanzas, Inventario, Nómina, Clientes, Campañas, Puntos de Venta, Proyecciones y más).
					</p>
				</div>
			</div>
			
			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fa fa-search" aria-hidden="true"></i>

					</div>
					<h4>SEO</h4>
					<p>
						Nuestro servicio de Optimización en Motores de Búsqueda (SEO), buscamos posicionar tus productos web en los primeros resultados de búsqueda en Google para así incrementar el tráfico en ellos.
					</p>
				</div>
			</div>
			
			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fas fa-rss-square"></i>

					</div>
					<h4>Marketing Digital</h4>
					<p>
						Planeamos y desarrollamos estratégias en publicidad para así buscar más clientes y aumentar las ventas de tus productos y/o servicios. Creando clientes fieles que confien en tí. 
					</p>
				</div>
			</div>
		</div>
		
		<!-- FEATURES ROW 2 -->
		<div class="row">
			
			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fas fa-mobile-alt"></i>

					</div>
					<h4>Aplicaciones Web y Móviles</h4>
					<p>
						Desarrollamos plataformas Web y Móviles para gestionar tus aplicaciones orientadas a la filosofía de tu negocio desde los smartphones, tablets, laptops y desktops, de manera que tus clientes observen la proyección e innovación de tu empresa en la actualidad y optimicen los procesos de una manera amigable gracias a estos entornos.
					</p>
				</div>
			</div>
			
			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>

					</div>
					<h4>Tiendas Electrónicas</h4>
					<p>
						Vende, controla y ofrece tus productos/servicios desde una plataforma online, gestiona inventarios, visitas de clientes, tráfico y expande tus ventas en todos los países del mundo.
					</p>
				</div>
			</div>
			
			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fas fa-user-circle"></i>
					</div>
					<h4>Atención al Cliente</h4>
					<p>
						Brinda a tus clientes un servicio 24/7 y regala un servicio de atención único, esto en la actualidad es muy importante ya que es lo que crea un enlace y fideliza a tus clientes diferenciándose de aquellas empresas que no lo proporcionan.
					</p>
				</div>
			</div>
		</div> 
	</div>
	
</div> <!-- /END CONTAINER -->
</section>

<!-- =========================
     SECTION 5   
============================== -->
<section class="section5" id="section5">

<div class="container">
	
	<!-- SECTION HEADING -->
	<h2>Asesoría Deblime 360</h2>
	<div class="colored-line">
	</div>
	
	<div class="sub-heading">
		Obtén tu asesoría gratuita yá
	</div>
	
	<!-- VIDEO -->
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			
			<div class="video-container">
				
                <!--
				<div class="video">
					
					<iframe src="//player.vimeo.com/video/88902745?byline=0&amp;portrait=0&amp;color=ffffff" width="600" height="338" frameborder="0" allowfullscreen>
					</iframe> 
				</div>
				-->
				
				<div class="video">
					
			
					<iframe width="854" height="480" src="https://www.youtube.com/embed/c51W7XZUkoI" frameborder="0" allowfullscreen></iframe>
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- FEATURES IN VIDEO SECTION -->
	<div class="row video-features">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h5>
					<i class="fab fa-google"></i> Patrocinados por Google </h5>
				</div>
				<div class="col-md-4 col-sm-4">
					<h5>
					<i class="fas fa-globe"></i> Servicio Internacional </h5>
				</div>
				<div class="col-md-4 col-sm-4">
					<h5>
					<i class="fas fa-question-circle"></i> Soporte 24/7 </h5>
				</div>
			</div>
		</div>
	</div> <!-- /END FEATURES IN VIDEO SECTION -->
	
</div> <!-- /END CONTAINER -->

</section>

<!-- =========================
     SECTION 6   
============================== -->
<section class="section6 bgcolor-2" id="section6">
<div class="container">
	
	<!-- SECTION HEADING -->
	<h2>Galería</h2>
	<div class="colored-line">
	</div>
	
	<div class="sub-heading">
		Algunos de nuestros servicios prestados
	</div>
	
	<!-- SCREENSHOTS -->
	<div class="row screenshots">
		
		<div id="screenshots" class="owl-carousel owl-theme">
			
			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/servidor.png" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/servidor.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/servidor2.png" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/servidor2.png" alt="Screenshot"></a>
			</div>

			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/servidor4.png" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/servidor4.png" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/servidor3.png" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/servidor3.png" alt="Screenshot"></a>
			</div>
			

			
			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/cursos.jpg" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/cursos.jpg" alt="Screenshot"></a>
			</div>
			
			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/plataforma.jpg" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/plataforma.jpg" alt="Screenshot"></a>
			</div>

			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/ger.png" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/ger.png" alt="Screenshot"></a>
			</div>

			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/energy.png" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/energy.png" alt="Screenshot"></a>
			</div>

			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/kapi.png" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/kapi.png" alt="Screenshot"></a>
			</div>

			<div class="shot">
				<a href="https://deblime.com/asesoria/images/screenshots/kapi-2.png" data-lightbox-gallery="screenshots-gallery"><img src="https://deblime.com/asesoria/images/screenshots/kapi-2.png" alt="Screenshot"></a>
			</div>

		</div>


		</div>
		
	</div> <!-- /END SCREENSHOTS -->
	
</div> <!-- /END CONTAINER -->

</section>

<!-- =========================
     SECTION 7  
============================== -->
<section class="section7" id="section7">
<div class="container">
	
	<!-- SECTION HEADING -->
	<h2>Casos de Éxito</h2>
	<div class="colored-line">
	</div>
	
	<div class="sub-heading">
		Conoce los clientes que han crecido con nuestros servicios
	</div>
	

	
	<!-- TESTIMONIALS -->
	<div class="row testimonials">
		
		<!-- FEEDBACKS -->
		<div id="feedbacks" class="owl-carousel owl-theme">
			
			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://deblime.com/wp-content/uploads/2017/03/dipronelogo.jpg" alt="">
				</div>
				<div class="box">
					<p class="message">
						 Confiamos en Deblime por su forma de trabajo, excelente asesoría y junto a su equipo de profesionales desarrollamos nuetra plataforma de educación internacional, gestión de instructores, cursos y más.
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Diprone Learning
					</div>
					
				</div>
			</div>
			
			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://deblime.com/wp-content/uploads/2017/03/ger.png" alt="">
				</div>
				<div class="box">
					<p class="message">
						 Gracias a Deblime pudimos gestionar nuestra tienda electrónica y ahora vendemos en toda latinoamérica gracias al servicio de ecommerce. Ahora gestionar y vender nuestros productos es mucho más fácil.
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Ger Bikes
					</div>
					
				</div>
			</div>
			
			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://deblime.com/wp-content/uploads/2017/03/energy.png" alt="">
				</div>
				<div class="box">
					<p class="message">
						 El equipo de Deblime hizo posible que nuestra campaña de marketing fuera un éxito gracias al desarrollo de las landing pages. Excelente Trabajo. 100% recomendados. (Profesionalismo, eficiencia y eficacia)
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Energy Economics
					</div>
					
				</div>
			</div>

			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://deblime.com/wp-content/uploads/2017/03/biotel.jpg" alt="">
				</div>
				<div class="box">
					<p class="message">
						 El servicio 360 de Deblime nos permitió gestionar todos nuestros servicios con ellos. Ahora nuestra gestión administrativa es automatizada y simple gracias al sistema administrativo (ERP) ODOO.
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Biotel Suites
					</div>
					
				</div>
			</div>

			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://deblime.com/wp-content/uploads/2017/03/djak.jpg" alt="">
				</div>
				<div class="box">
					<p class="message">
						 Excelente Trabajo. Desarrollaron una website totalmente adaptada a mi imagen. La funcionalidad es 100% flexible y profesional.
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						DJ Alberto Kretschmar
					</div>
					
				</div>
			</div>

			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://deblime.com/wp-content/uploads/2017/03/bicis.jpg" alt="">
				</div>
				<div class="box">
					<p class="message">
						 Vendemos toda nuestra variedad de productos y servicios gracias a la Tienda Electrónica que desarrollo el equipo de Deblime. 100% recomendados.
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Bicis Ec
					</div>
					
				</div>
			</div>

			<!-- SINGLE FEEDBACK -->
			<div class="single-feedback">
				<div class="client-pic">
					<img src="https://deblime.com/wp-content/uploads/2017/03/kapitalizalo.png" alt="">
				</div>
				<div class="box">
					<p class="message">
						 Nuestra aplicación de equity crowdfunding fué desarrollada en conjunto al servicio de Deblime. Profesionalismo, responsabilidad y flexibles. Seguimos trabajando con ellos.
					</p>
				</div>
				<div class="client-info">
					<div class="client-name colored-text strong">
						Kapitalízalo
					</div>
					
				</div>
			</div>
			
		</div>
	</div> <!-- /END TESTIMONIALS -->
	
</div>  <!-- /END CONTAINER -->

</section>


<!-- =========================
     SECTION 8 - CTA  
============================== -->
<section class="cta-section" id="section8">
<div class="color-overlay">
	
	<div class="container">
		
		<h4>Estamos listos para ayudarte</h4>
		<h2>Obtén la mejor solución para tu negocio</h2>
		<div id="cta-4">
			<a href="#home" class="btn standard-button"> Solicitar Asesoría Gratuita</a>
		</div>
		
		<!-- MAILCHIMP SUBSCRIBE FORM / REMOVE 'hidden' CLASS TO MAKE FORM VISIBLE -->
		
		<div class="subscribe-section hidden">
			
			<h3>Or, Mailchimp Subscription Form</h3>
			
			<form class="subscription-form mailchimp form-inline" role="form">
				
				<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
				<h6 class="subscription-success"></h6>
				<h6 class="subscription-error"></h6>
				
				<!-- EMAIL INPUT BOX -->
				<input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
				
				<!-- SUBSCRIBE BUTTON -->
				<button type="submit" id="subscribe-button" class="btn standard-button">Subscribe</button>
				
			</form>
		</div>
		<!-- /END SUBSCRIPTION FORM -->
		
	</div>  <!-- /END CONTAINER -->
</div>  <!-- /END COLOR OVERLAY -->

</section>


</section>
<!-- =========================
     SECTION 10 - FOOTER 
============================== -->
<footer class="bgcolor-2">
<div class="container">
	
	<div class="footer-logo">
		<img src="images/logoazul.png" alt="" style="width: 150px;">
	</div>
	
	<div class="copyright">
		 ©2016 Deblime INC.
	</div>
	
	<ul class="social-icons">
		<li><a target="_blank" href="https://www.facebook.com/deblimeinc/"><i class="fab fa-facebook-square"></i></a></li>
		<li><a target="_blank" href="https://twitter.com/infodeblime"><i class="fab fa-twitter-square"></i></a></li>
		
		<li><a target="_blank" href="https://www.instagram.com/deblime/"><i class="fab fa-instagram"></i></a></li>
		
	</ul>
	
</div>
</footer>

<style>
/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

  
/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}


/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

</style>